{% extends 'base.html.twig' %}

{% block body %}
	
	

	<!-- Page Content -->
	<div class="content">
		<div class="row justify-content-center">
			<div class="col-md-8">

				{{form_start(Commandeconception)}}
				<!-- Payment -->
				<div class="block block-rounded">
					<div class="block-header block-header-default">
						<h3 class="block-title">Detail de la commande</h3>
					</div>
					<div class="block-content block-content-full">
						<div class="mx-0 mx-md-6 mx-xl-8">
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-number">Description de la conception</label>
								{{form_row(Commandeconception.typeconception)}}
							</div>
							<div class="mb-4">
								<label class="form-label" for="checkout-cc-name">Date de la livraison </label>
								{{form_row(Commandeconception.dureconception)}}
							</div>
						</div>
					</div>
				</div>
				<!-- END Payment -->

				<!-- Submit Form -->
				<div class="text-end push">
					<button type="submit" class="btn btn-sm btn-primary">
						<i class="fa fa-check me-1"></i>
						Valider
					</button>
				</div>
				<!-- END Submit Form -->

			</div>
			{{form_end(Commandeconception)}}
		</div>
	</div>
</div>
<!-- Search -->{% endblock %}
