{% extends 'base.html.twig' %}


{% block body %}
	<div class="content">
		<div class="block block-rounded">
			<div class="block-content block-content-full overflow-x-auto">
				{{ include('client/_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
